@model IEnumerable<PortalToKnowledge.Models.Assignment>
@{
    ViewBag.Title = "Home Page";
}


<div>
    <img src="~/Images/staircase.jpg" class="center" width="100%" />
</div>

@foreach (var assignment in Model)
{
    <script>
        alert("@assignment.Name is due soon!");
    </script>
}